# ++
#
# Copyright (c) 2023 JulesIMF, MIPT
#
# Module Name:
#
#     .gitignore
#
# Abstract:
#
#     Allows to make git ignore some files.
#
# Author / Creation date:
#
#     JulesIMF / 09.02.23
#
# Revision History:
# 
# --
#

.cache
build
*cmake_install.cmake
Makefile
bin
